.App {
  width: 100vw;
  height: 100vh;
  background-color: #E5E5E5;
  display: flex;
  justify-content: center;
}

//below step is to use scss on the imported page
@import "./pages/main/main.scss";
@import "./pages/AddBills/addbills.scss";
@import "./pages/Homepage/homepage.scss";
@import "./pages/transpage/transpage.scss";
